@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (min-width: 770px){
	.finalDiv{
		margin: 0px 5%;
		flex-direction: row;
		justify-content: space-around;
	}
	.infoFinal{
		width: 30%;
	}
}
@media only screen and (max-width: 769px){
	.finalDiv{
		flex-direction: column;
		justify-content: center;
	}
	.photoFinal{
		width: 100%;
		position: relative;
top: 4vh;
	}
	.infoFinal{
		width: 80%;
		margin-left: 10%;
		height: 50%;
		position: relative;
		top: -4vh;
	}
	.finalTitle{
		width: 20px;
		position: relative;
		top: -33vh;
	}
}


.finalDiv{
	display: flex;

}
.categoriesFinal{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.finalTitle{
	width: 20px;
	
	font-size: 30px;
}
.centerText{
	text-align: center;
}
.FinaldivRebuild{
	display: flex;
	justify-content: center;
}
.rebuildButton{
	margin-left: 5px;	
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.rebuildButton:hover{
	cursor: pointer;
}
.FinalrebuildButton:hover{
	cursor: pointer;
}