@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
@media only screen and (max-width: 676px){
  .Container{
  height: 91vh;
  }
}
@media only screen and (min-width: 677px){
  .Container{
  height: 100vh;
  }
}

p{
  font-family: 'Saira Condensed', sans-serif;
}
#containerNav{
  display: flex;
    
  justify-content: center;
  margin: 0px auto;
  padding-top: 40px;
}
button{
  outline: none;
}
body{
  min-width: 350px;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px; 
}
.Container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0px;
  width: 100%;
}
.containerBody{
  height: 450px;
}
a{
  text-decoration: none;
}


