@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
@media only screen and (max-width: 676px){
  .Container{
  height: 91vh;
  }
}
@media only screen and (min-width: 677px){
  .Container{
  height: 100vh;
  }
}
li{
  list-style-type: none;
}
p{
  font-family: 'Saira Condensed', sans-serif;
}

button{
  outline: none;
}
body{
  min-width: 350px;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px; 
  overflow: hidden;
  position: relative;
}
html{
  overflow: hidden;
}
a{
  text-decoration: none;
}
hr{
  opacity: 0.3;
}
#containerNav{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding-top: 40px;
}
.Container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0px;
  width: 100%;
}
.containerBody{
  height: 450px;
}

.nopadding{
  padding: 0px;
}
.nomargin{
  margin: 0px;
}
.greydark{
  color: #0F1C2D;
}
.greymedium{
  color: #3e4856;
}
.verticalCenter{
  align-items: center;
}
